/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
input {
		font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}
.gwt-TextArea {
padding: 4px;
border: 1px solid #ccc;
border-top: 1px solid #666;
font-size: 100%;
font-family: Arial Unicode MS, Arial, sans-serif;
height: 10;
width: 580px;
height: 10em;
}
.post-body {
margin: 0 0 1.75em;
font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
line-height: 170%;
margin-left: 40px;
width: 680px;
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
