/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
input {
		font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}
.warning{
	background-color:pink;
}
.gwt-Label {
	width: 200px;
	text-align: right;
	font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}
.gwt-TextArea {
padding: 4px;
border: 1px solid #ccc;
border-top: 1px solid #666;
font-size: 100%;
font-family: Arial Unicode MS, Arial, sans-serif;
height: 10;
width: 580px;
height: 10em;
}
.remarks{
	text-align:left;
}
.numeric{
	text-align:right;
	width:35px;
}
.post-body {
margin: 0 0 1.75em;
font: 14.5px "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
line-height: 170%;
margin-left: 40px;
width: 680px;
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
